.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.body {
  background-color: royalblue;
}

.cards h2 {
  padding-top: 15%;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: white;
  margin: auto;
}
