.ciudad {
  margin: auto;
  margin-top: 120px;
  border-radius: 10px;
  color: rgb(5, 5, 5);
}

.containerDetail {
  display: block;
  top: 18px;
  color: black;
  margin: auto;
  max-width: 35%;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
}

.nameCity {
  font-weight: 700;
  padding-bottom: 20px;
  padding-top: 28px;
}

.nameCity:hover {
  color: cadetblue;
}

.info {
  font-weight: 500;
  padding-bottom: 40px;
}

.sinData {
  text-align: center;
  color: white;
  font-weight: 700;
  line-height: 500px;
}
